.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.error {
  color: red;
}

.loading {
  font-style: italic;
}

.location {
  font-weight: bold;
}

.weather-title, .places-title {
  margin-top: 20px;
}

.weather-description, .weather-temperature {
  margin-bottom: 10px;
}

.places-list {
  list-style-type: none;
  padding: 0;
}

.place-item {
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.place-item:last-child {
  border-bottom: none;
}
